body {
 
}

.navbar-brand img {
    
    width: 200px;
}

.navbar-brand img:hover {
    width: 210px;
}

h1 {
    text-align: center;
}

div.boat img {
 display: block;
 margin-left: auto;
 margin-right: auto;
 border-radius: 5px;
}

div.marketingCard {
    background: radial-gradient(rgba(63, 127, 191, 0.5),rgba(180, 68, 79, 0.1));
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.marketingTitle {
    background-color: darkblue;
    color: lightgreen;
    font-family: cursive;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    width: 600px;
}

.navbar {
    background: radial-gradient(rgba(63, 127, 191, 0.5),rgba(180, 68, 79, 0.1));
    margin-bottom: 80px;
}