
@{
    ViewData["Title"] = "Create Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<SonOfCod.Models.Newsletter>




@if (User.IsInRole("Admin"))
{
   <h3 class="marketingTitle">Current subscribers</h3>
   <hr />
    <div>
        @foreach (var subscriber in Model)
        {
            <h4>
               @Html.DisplayFor(model => subscriber.PurchaserName) <span>at: </span> @Html.DisplayFor(model => subscriber.Email)          
            </h4>
        }
    </div>
}
else
{
    <h2 class="marketingTitle">Sign up for our newsletter to receive free information and updates about our fish.</h2>

    <a asp-action="create">Sign Up</a>
}